$viewports:("xs": "0", "sm": "480px", "md": "768px", "lg": "1024px", "xl": "1500px");
$columns: 12;
$space: 10px;

@import "./mixin.scss";

.container {
    margin: 0 auto;
};

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px (-$space);
};

[class*="col-"] {
    padding: 0 $space;
    display: flex;
}

.hide{
    display: none !important;
}

@for $col from 1 through $columns {
    .colspan-#{$col} {
        width: percentage(1/$columns * $col)
    }
}


@each $port-name, $port-width in $viewports {
    @media (min-width: #{$port-width}) {
        $container-width: 0;
        $padding: 0;

        @if $port-name == "xs" {
            $container-width: 100%;
            $padding: 0 10px;
        } @else if $port-name == "sm" {
            $container-width: calc(100vw - 30px);
            $padding: 0;
        } @else if $port-name == "md" {
            $container-width: calc(100vw - 70px);
        } @else if $port-name == "lg" {
            $container-width: calc(100vw - 150px);
        } @else if $port-name == "xl" {
            $container-width: calc(100vw - 135px);
        }

        .container {
            width: $container-width;
            padding: $padding;
        };

        @for $col from 1 through $columns {
            .col-#{$port-name}-#{$col} {
                width: percentage(1/$columns * $col)
            }
        }
    }
}
