<footer class="footer">
    <div class="container">
        <!-- <div class="footer-parent add-flex"> -->
            <div class="row footer-parent">
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <div>
                        <span class="footer-list-tittle">online shopping</span>
                        <ul class="footerUL">
                            <li>men</li>
                            <li>women</li>
                            <li>men</li>
                            <li>women</li>
                            <li>men</li>
                            <li>women</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <div>
                        <span class="footer-list-tittle">USEFUL LINKS</span>
                        <ul class="footerUL">
                            <li>contac us</li>
                            <li>Q & A</li>
                            <li>T % C</li>
                            <li>shipping</li>
                            <li>Returen</li>
                            <li>blog</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <div>
                        <span class="footer-list-tittle">EXPERIENCE ShoppingApp ON MOBILE</span>
                        <img class="footer-imgs" src="../../img/google_play.png" />
                        <img class="footer-imgs" src="../../img/apple_store.png" />
                        <span class="footer-list-tittle">KEEP IN TOUCH</span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <div class="best-about-us">
                        <h5>100% ORIGINAL <span>guarantee for all products at ShoppingApp.com</span></h5>
                        <h5>Return within 30days<span> of receiving your order </span></h5>
                        <h5> Get free delivery <span> for every order above Rs. 799 </span></h5>
                    </div>
                </div>
            </div>
        
        <!-- <div class="company-address footer-parent">
            <span class="footer-list-tittle">Registered Office Address</span>
            <p>Buildings Alyssa, Begonia and Clover situated in Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Varthur Hobli, Bengaluru – 560103, India</p>
            <div class="contact">
                <span>CIN: U72300KA2007PTC041799</span>
                <span>Telephone: +91-80-61561999</span>
            </div>
        </div> -->
        <div class="footer-parent">
            <span class="footer-list-tittle">ONLINE SHOPPING MADE EASY AT ShoppingApp</span>
            <p>If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. ShoppingApp is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including
                clothing, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out
                of fashion houses. You can shop online at ShoppingApp from the comfort of your home and get your favourites delivered right to your doorstep.</p>
        </div>
        <div class="footer-parent">
            <span class="footer-list-tittle">ShoppingApp</span>
            <p>ShoppingApp, India’s no. 1 online fashion destination justifies its fashion relevance by bringing something new and chic to the table on the daily. Fashion trends seem to change at lightning speed, yet the ShoppingApp shopping app has managed
                to keep up without any hiccups. In addition, ShoppingApp has vowed to serve customers to the best of its ability by introducing its first-ever loyalty program, The ShoppingApp Insider. Gain access to priority delivery, early sales, lucrative
                deals and other special perks on all your shopping with the ShoppingApp app. Download the ShoppingApp app on your Android or IOS device today and experience shopping like never before!</p>
        </div>
    </div>
</footer>