<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="desktop-navbar">
                    <div class="app-logo-div">
                        <div class="app-logo-name">
                            <div class="menu-bar-svg">
                                <!-- .svg -->
                                <svg class="logo-font">
                                    <use xlink:href="../../img//icons.svg#menuBar"></use>
                                </svg>
                                <div class="menu-bar-overlay hide">
                                    <div class="remove-form">
                                        <button class="remove-form-btn">
                                            <svg class="icons-size">
                                                <use xlink:href="../../img//icons.svg#cross"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="menu-bar-list">
                                        <ul>
                                            <li><a href="/">HOME</a></li>
                                            <li><a href="/collection">MEN</a></li>
                                            <li><a href="/product">WOMEN</a></li>
                                        </ul>
                                    </div>
                                    <div class="fSocial-media-font menu-share-icons-position">
                                        <div class="font-wrapper">
                                            <svg class="icons">
                                                <use xlink:href="../../img//icons.svg#facebook"></use>
                                            </svg>
                                        </div>
                                        <div class="font-wrapper">
                                            <svg class="icons">
                                                <use xlink:href="../../img//icons.svg#twitter"></use>
                                            </svg>
                                        </div>
                                        <div class="font-wrapper">
                                            <svg class="icons">
                                                <use xlink:href="../../img//icons.svg#instagram"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="app-logo">
                                <img class="logo-img" src="../../img//logo.png" />
                            </div>
                        </div>
                    </div>
                    <div class="list-wrapper">
                        <ul class="header-list">
                            <!-- class="header-menu-men" -->
                            <li class="collection-page-btn"><a href="/collection">MEN</a>
                                <div class="outfit-list">
                                    <div class="add-flex">
                                        <ul class="menu-ul-1">
                                            <li class="outfit-list-tittle"><a href="">Topwear</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                            <li><a href="">Casual Shirts</a></li>
                                            <li><a href="">Formal Shirts</a></li>
                                            <li><a href="">Jakets</a></li>
                                            <li><a href="">Blazers & Coats</a></li>
                                            <li class="outfit-list-tittle"><a href="">Indian & Festive Wear</a></li>
                                            <li><a href="">Kurtas & Kurta Set</a></li>
                                            <li><a href="">Sherwanis</a></li>
                                            <li class="outfit-list-tittle"><a href="">Bottomwear</a></li>
                                            <li><a href="">jeans</a></li>
                                            <li><a href="">shots</a></li>
                                        </ul>
                                        <ul class="menu-ul-2">
                                            <li class="outfit-list-tittle"><a href="">Footwear</a></li>
                                            <li>
                                                <a href=""></a>
                                            </li>
                                            <li><a href="">Casual shoes</a></li>
                                            <li><a href="">Formal shoes</a></li>
                                            <li><a href="">Sport shoes</a></li>
                                            <li><a href="">sandals</a></li>
                                            <li class="outfit-list-tittle"><a href="">sunglasses</a></li>
                                            <li class="outfit-list-tittle"><a href="">Watches</a></li>
                                            <li class="outfit-list-tittle"><a href="">fashion Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="/product">WOMAN</a>
                                <div class="women-outfit-list outfit-list">
                                    <div class="add-flex">
                                        <ul class="menu-ul-1">
                                            <li class="outfit-list-tittle"><a href="">Topwear</a></li>
                                            <li><a href="">T-Shirts</a></li>
                                            <li><a href="">Casual Shirts</a></li>
                                            <li><a href="">Formal Shirts</a></li>
                                            <li><a href="">Jakets</a></li>
                                            <li><a href="">Blazers & Coats</a></li>
                                            <li class="outfit-list-tittle"><a href="">Indian & Festive Wear</a></li>
                                            <li><a href="">Kurtas & Kurta Set</a></li>
                                            <li><a href="">Sherwanis</a></li>
                                            <li class="outfit-list-tittle"><a href="">Bottomwear</a></li>
                                            <li><a href="">jeans</a></li>
                                            <li><a href="">shots</a></li>
                                        </ul>
                                        <ul class="menu-ul-2">
                                            <li class="outfit-list-tittle"><a href="">Footwear</a></li>
                                            <li>
                                                <a href=""></a>
                                            </li>
                                            <li><a href="">Casual shoes</a></li>
                                            <li><a href="">Formal shoes</a></li>
                                            <li><a href="">Sport shoes</a></li>
                                            <li><a href="">sandals</a></li>
                                            <li class="outfit-list-tittle"><a href="">sunglasses</a></li>
                                            <li class="outfit-list-tittle"><a href="">Watches</a></li>
                                            <li class="outfit-list-tittle"><a href="">fashion Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="desktop-navbar flex-end">
                    <div class="mobile-search-parent">
                        <svg class="search-font">
                            <use xlink:href="../../img//icons.svg#search"></use>
                        </svg>
                    </div>
                    <div class="search-bar">
                        <div class="search-wrapper">
                            <div class="search-font-parent">
                                <svg class="search-font">
                                        <use xlink:href="../../img//icons.svg#search"></use>
                                    </svg>
                            </div>
                            <div class="search-parent">
                                <input type="text" name="song" placeholder="Search for music you love!" id="searchBarInput" />
                                <div class="search-remove">
                                    <!-- onclick="searchBar.clearSearchBtn()" -->
                                    <svg class="icons">
                                        <use xlink:href="../../img//icons.svg#cross"></use>
                                    </svg>
                                </div>
                                <div class="mobile-search-removeBtn  hide">
                                    <svg class="icons">
                                        <use xlink:href="../../img//icons.svg#cross"></use>
                                    </svg>
                                </div>
                                <div class="searchResult-parent">
                                    <div class="searchResult hide">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-navbar">
                        <div class="desktop-actions">
                            <svg class="icons">
                                <use xlink:href="../../img//icons.svg#user"></use>
                            </svg>
                        </div>
                        <div class="desktop-actions">
                            <svg class="icons">
                                <use xlink:href="../../img//icons.svg#heart"></use>
                            </svg>
                        </div>
                        <div class="desktop-actions">
                            <svg class="icons">
                                <use xlink:href="../../img//icons.svg#bag"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>